html, body{
    overflow: hidden;
    position: relative;
    height: 100%;
    background-color: #29B5D8;
    z-index: -1;
}

.container{
    position: relative;
    z-index: 2;
    border-radius: 2%;
    background-color: #FFFFFF;
    padding: 4rem;
}

.circle{
    position: absolute;
    background-color: #7FD3E8;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
    width: 1600px;
    height: 1600px;
    border-radius: 50%;
    z-index: 1;
    top: -825px;
    right: -150px;
}

.second-circle{
    position: absolute;
    width: 1200px;
    height: 1200px;
    z-index: 0;
    border-radius: 50%;
    background-color: #37A4BF;
    top: 50px;
    left: -450px;
}

.btn:hover{
    background-color: #516abd7f;
}

@media only screen and (max-width: 600px) {
    .container{
        border: 1px solid red;
        width: 80%;
        max-height: 90vh;
        min-height: 400px;
        padding: 1rem 2.5rem 1rem 2.5rem;
    }
}

@media only screen and (min-width: 992px){
    .content{
        margin-top: 30px;
    }
}